.header {
    background-color:aquamarine;
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    align-items:center;
    justify-content:center;
}

.headButtons {
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    flex-grow: 100;
    flex-shrink: 100;
}

.content {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}